*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardProductos{
  margin-bottom: 30px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.258)
}

.nav-link{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: rgb(43, 60, 92);
  text-shadow: 2px 1px 1px rgba(56, 78, 120, 0.493);
}


.containerDetail{
  display: flex;
}

.detail{
  width: 50%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.agregarCarrito{
  display: flex;
  gap:20px;
}
