@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=DM+Serif+Display&family=Inter+Tight:wght@300;600&family=Ysabeau+Office:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardProductos{
  margin-bottom: 30px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.258)
}

.card{
  font-family: "Annapurna SIL", serif;
  font-size: 20px;
  color: rgb(66, 72, 106);
}
.card h3{
  font-weight: bold;
  font-size: 25px;
  color: rgb(46, 52, 83);
}

#navbar{
  background-color: white;
  box-shadow: 0px 2px 10px 1px rgb(130, 130, 130);
}

.nav-link{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(60, 75, 102);
  font-family: "Ysabeau Office", sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(56, 78, 120, 0.379);
}

.button-carrito{
  background-color: white;
  border: none;
}

.container-mrg, .container-productos, .containerDetail, .container-checkout{
  margin-top: 127px;
}

.container-productos{
  background-color: rgba(132, 153, 162, 0.731);
  padding: 40px 80px;
}


.container-loading{
  height: 100vh;
}

.card .precio{
  font-size: 25px;
}

.containerDetail{
  display: flex;
  margin-bottom: 10px;
}

.detail{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(46, 52, 83);
  font-family: "Annapurna SIL", serif;
  font-size: 23px;
}

.detail h2{
  font-size: 35px;
}

.btn-azul{
  background-color: rgba(46, 52, 83, 0.916);
  color: white;
  border: none;
}

.btn-azul:hover{
  background-color: rgba(46, 52, 83, 0.801);
  color: white;
}

.btn-celeste{
  background-color: rgba(72, 139, 170, 0.932);
  color: white;
}

.btn-celeste:hover{
  background-color: rgba(62, 123, 152, 0.932);
  color: white;
}

.agregarCarrito{
  display: flex;
  gap:40px;
}

.container-cart{
  margin-top: 160px;
  margin-bottom: 75px;
  font-size: 18px;
  color: rgb(46, 52, 83);
}

.titulos{
  color: rgba(79, 116, 133, 0.932);
  font-family: "Annapurna SIL", serif;
  margin-top: 20px;
}

.productos-carrito{
  margin-top: 40px;
}

.tabla-detalle{
  display: flex;
  justify-content: center;
  background-color: rgba(219, 222, 223, 0.662);
  padding-top: 12px;
}

.tabla-productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabla-producto{
  display: flex;
  justify-content: center;
}

.tabla-total{
  display: flex;
  justify-content: flex-end ;
  gap: 5px;
  margin-top: 20px;
}

.p-total{
  font-size: 19px;
  font-weight: 500;
}

.footer{
  background-color: rgb(132, 153, 162);
  padding: 51px 30px 0px;
  bottom: 0;
}

.redes-iconos .nav-link img{
  width: 36px;
  height: 36px;
}

.footer-nav .nav-link{
  color: white;
  font-family: "Annapurna SIL", serif;
  font-size: 18px;
}

.footer-bottom{
  color: rgba(83, 83, 83, 0.765);
}

@media(max-width: 992px) {
  .sidebar{
    background-color: white;
    backdrop-filter: blur(10px);
  }

  .offcanvas-body{
    margin-top: -50px;
    gap: 40px;
  }

  .cart-widget{
    margin-bottom: 20px;
  }

  .navbar-nav .nav-item{
    margin-top: 15px;
  }
  .containerDetail img{
    width: 300px;
    margin-left: 30%;
  }
  .detail{
    margin-top: -30px;
    font-size: 22px;
  }
  .container-cart{
    font-size: 17px;
  }
  .tabla-producto .carrito-img{
    width: 100px;
    padding-top: 20px;
  }
  .tabla-detalle{
    padding-left: 20px;
  }
  .btn-sm{
    font-size: 13px;
    white-space:nowrap;
  }
  .p-total{
    white-space:nowrap;
  }
}

@media(max-width: 576px){
  .navbar-brand img{
    width:80%;
    margin-left: -25px;
  }
  .cards-inicio{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
  .card{
    font-size: 15px;
    width: 300px;
    margin-bottom: 25px;
  }
  .a-card{
    width: 200px;
  }
  .carousel{
    padding-top: 3px;
    width: 99%;
  }
  .containerDetail img{
    width: 250px;
    margin-left: 22%;
  }
  .detail{
    margin-top: -40px;
    font-size: 18px;
  }
  .btn-agregar{
    white-space: nowrap;
  }
  .container-cart{
    font-size: 16px;
  }
  .cardProductos{
    margin-left: -20px;
  }
  .footer{
    font-size: 14px;
  }
  .footer .nav-item .a-ftr{
    display: none;
  }

  .tabla-producto .carrito-img{
    width: 70px;
    padding-top: 30px;
  }
  .tabla-detalle{
    padding-left: 20px;
  }
  .p-total{
    font-size: 15px;
    margin-left: -85px;
  }

  .tabla-total{
    width: 100%;
  }

  .btn-sm{
    font-size: 12px;
    white-space:nowrap;
    margin-left: -10px;
  }
  .navbar{
    width: 100%;
  }
}